.b-blocks {
	position: absolute;
	display: block;
}

.b-blocks--title {
	width: blocks-sprite-width(title);
	height: blocks-sprite-height(title);
	@include blocks-sprite(title);
	top: 96px;
	right: 38px;
}

.b-blocks--prof_skills {
	top: 253px;
	left: 32px;
	width: blocks-sprite-width(prof_skills);
	height: blocks-sprite-height(prof_skills);
	@include blocks-sprite(prof_skills);
}

.b-blocks--carreer {
	top: 699px;
	left: 36px;
	width: blocks-sprite-width(carreer);
	height: blocks-sprite-height(carreer);
	@include blocks-sprite(carreer);
}

.b-blocks--education {
	bottom: 92px;
	left: 239px;
	width: blocks-sprite-width(education);
	height: blocks-sprite-height(education);
	@include blocks-sprite(education);
}

.b-blocks--personal {
	right: 39px;
	bottom: 247px;
	width: blocks-sprite-width(personal);
	height: blocks-sprite-height(personal);
	@include blocks-sprite(personal);
}

.b-blocks--contacts {
	right: 37px;
	top: 406px;
	width: blocks-sprite-width(contacts);
	height: blocks-sprite-height(contacts);
	@include blocks-sprite(contacts);
}

.b-blocks--watermark {
	bottom: 30px;
	right: 28px;
	width: blocks-sprite-width(watermark);
	height: blocks-sprite-height(watermark);
	@include blocks-sprite(watermark);
}

.b-blocks--qr {
	bottom: 0;
	left: 0;
	width: blocks-sprite-width(qr);
	height: blocks-sprite-height(qr);
	@include blocks-sprite(qr);
}