.b-carreer {
	width: 644px;
	color: $black;

	.b-title {
		text-align: right;
		margin: 16px 195px 0 0;

		&::selection {
			background: #E47155;
			color: #fff;
		}
	}

	.b-carreer-list {
		font-family: Myriad Pro;
		font-size: 16.13px;
	}

	.b-carreer-list_item {
		margin: 16px 0 0 35px;
		line-height: 16px;
		@include light-green-selection;

		&:last-of-type {
			margin-top: 1px;
		}
	}

	 .b-text {
		font-size: 14px;
		@include light-green-selection;
	 }
}